<%= hidden_field(:reservation, :date, value: date || Date.today) %>
<thead>
  <tr>
    <th>Course Name</th>
    <th style="text-align: center;">Spots Available</th>
    <th style="text-align: center;">Select</th>
  </tr>
</thead>
<tbody>
  <div class="btn-group" data-toggle="buttons">
  <% courses.each do |course| %>
    <tr>
      <td><%= "#{course.name}" %></td>
      <td style="text-align: center;"><%= "#{course.available_slots(date)} / #{course.slots}" %></td>
      <td style="text-align: center;">
        <label class="btn btn-success-outline">&#10003;
          <%= radio_button :reservation, :course_id, course.id %>
        </label>
      </td>
    </tr>
  <% end %>
  </div>
</tbody>
