<thead>
  <tr>
    <th>Course Name</th>
    <th>Spots Available</th>
    <th>Select</th>
  </tr>
</thead>
<tbody>
  <% courses.each do |course| %>
    <tr>
      <td><%= "#{course.name}" %></td>
      <td><%= "#{course.available_slots(date)} / #{course.slots}" %></td>
      <td>Select me.</td>
    </tr>
  <% end %>
</tbody>
