<h1>New Reservation</h1>
<div class="goBack"><%= link_to  image_tag("back.png", :height=>40, :margin=>-10, onmouseover: "this.src='#{asset_path('back_hover.png')}'", onmouseout: "this.src='#{asset_path('back.png')}'"), reservations_path %></div>
<%= render 'form' %>
