// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#articles {
    //margin-top: 40px;
    float:left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  
}


#articles .calendar{
    border-collapse: collapse;
    width: 400px ;
//margin-left: auto ;
//  margin-right: auto ;
    td, th{

        font-family: "Lucida Grande", arial, helvetica, sans-serif;
        //font-size: 10px;
        //padding:6px;
        border: 1px solid #999;
        
     
    }
    th{
        font-size: 16px;
        background: #450c08;
        color:#fff;
        text-align: center;
        width: 14%;
        height:40px;
    }
    td {
        background: #FFF;
        color: #777;
        height: 50px;
        vertical-align: top;
        font-size: 16px;
      
    }
    .notmonth {color:#CCC; background-color:#787878 !important; }
    .today {color:#bdbdbd !important; background-color: #b20000 !important; }
    .inactive {color:#bdbdbd; background-color:#A95953; cursor:default;}
    .active {color:#fff ; background-color: #66201a; }
    .selected{background-color:#000 !important; color:#fff !important;}
}
#articles #month{
    margin: 0;
    
  //  padding-top: 10px;
  //  padding-bottom: 10px;
    text-align: center;
    width:400px;
    //margin: 0 auto;
    background-color: #000;
    color: white;
    font-size:16px;
    font-weight: bold;
   
    
    text-transform: uppercase;
    a{
        text-decoration: none !important;
         user-select:none;
       // padding: 0 10px;
       background-color: transparent;
        color: #fff;
    } 
}
 a{
        text-decoration: none !important;
        user-select:none;

    }
#articles ul{
    font-size:11px;
    padding-left: 20px;
}
 #articles .calendar td a{
    display: block; height:100%;
   color: white !important;

}
#articles .calendar td a:hover{
  
        color: white !important;
        background-color: #843832 ;
 
}


#prev, #current, #next{
    float:left;
    background-color:#000;
}

#current{
    width:320px;
    height: 40px;
    line-height: 40px;
}
#prev, #next{
    height:40px; width:40px;
    }
    
