<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        Executive Golf
      </div>
      <div class="col-xs-6">
        <a class="pull-xs-right" href="http://executivegolf.ca">executivegolf.ca</a></p>
      </div>
    </div>
  </div>
</footer>
